<!DOCTYPE html>
<html>
<head>
    <title>Products Summary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Products Summary</h2>
        <button id="summaryBtn" class="btn btn-primary">Show Summary</button>
        <div id="summary" style="margin-top: 20px;"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#summaryBtn').click(function() {
                $.ajax({
                    url: '/summary',
                    method: 'GET',
                    success: function(data) {
                        $('#summary').text(data);
                    }
                });
            });
        });
    </script>
</body>
</html>
